#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=20s

eval "$(devenv direnvrc)"

use devenv

# The nix-wrapped clang adds flags unsupported for wasm32-unknown-unknown (e.g.
# -fzero-call-used-regs=used-gpr). Use the unwrapped clang for that target.
export CC_wasm32_unknown_unknown=$(clang -print-prog-name=clang)
